* {
  padding: 0;
  margin: 0;
  font-family: "Times New Roman", Times, serif;
  color: rgb(0, 0, 0);
  box-sizing: border-box;
}

body {
  background: linear-gradient(to bottom, rgba(34, 34, 34, 0.8), #22c);
  background-size: cover;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  background-color: #fdfdfd;
  color: #102f5e;
  border: 2px solid #102f5e;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  padding: 10px;
}
button:hover {
  background-color: #102f5e;
  color: #fff;
}
button:hover i {
  color: #fff;
}
button i {
  pointer-events: none;
}

input,
select {
  padding: 5px;
}

.todo-container {
  margin: 3rem auto;
  background-color: #fdfdfd;
  border-radius: 10px;
  padding: 10px;
}
.todo-container header {
  text-align: center;
  padding: 0 1rem 1rem;
  border-bottom: 1px solid #ccc;
}
.todo-container #todo-form,
.todo-container #edit-form {
  padding: 1rem;
  border-bottom: 1px solid #ccc;
}
.todo-container #todo-form p,
.todo-container #edit-form p {
  margin-bottom: 0.5rem;
  font-weight: bold;
}
.todo-container #todo-form #cancel-edit-btn,
.todo-container #edit-form #cancel-edit-btn {
  margin-top: 1rem;
}
.todo-container .form-control {
  display: flex;
}
.todo-container .form-control input {
  margin-right: 0.3rem;
}
.todo-container #toolbar {
  padding: 1rem;
  border-bottom: 1px solid #ccc;
  display: flex;
}
.todo-container #toolbar h4 {
  margin-bottom: 0.5rem;
}
.todo-container #toolbar #search {
  border-right: 1px solid #ddd;
  padding-right: 1rem;
  margin-right: 1rem;
  width: 65%;
  display: flex;
  flex-direction: column;
}
.todo-container #toolbar #search form {
  display: flex;
  flex-direction: column;
}
.todo-container #toolbar #search form .content-toolbar {
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.todo-container #toolbar #search form .content-toolbar input {
  width: 100%;
  margin-right: 0.4rem;
}
.todo-container #toolbar #filter {
  width: 35%;
  display: flex;
  flex-direction: column;
}
.todo-container #toolbar #filter select {
  flex: 1;
}
.todo-container .todo {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
  border-bottom: 1px solid #ddd;
  transition: 0.3s;
}
.todo-container .todo h3 {
  flex: 1;
  font-size: 0.9rem;
}
.todo-container .todo button {
  margin-left: 0.4rem;
}
.todo-container .done {
  background-color: #395169;
}
.todo-container .done h3 {
  color: #fff;
  text-decoration: line-through;
  font-style: italic;
}